/*
  ========================================
  Full Reset
  
  v2.0 | 20110126
  License: none (public domain)
  ========================================
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Box-sizing
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Font declaration
  ========================================
*/
@font-face {
    font-family: GT-America;
    src: url("../fonts/GT-America-Standard-Regular.ttf");
}

@font-face {
    font-family: NewMonoSpaceMono-Italic;
    src: url("../fonts/NewMonoSpaceMono-Italic.otf");
}

@font-face {
    font-family: NewMonoLetterGothicStd-Medium;
    src: url("../fonts/NewMonoLetterGothicStd-Medium.otf");
}

@font-face {
    font-family: NewMonoCourierNew-Regular;
    src: url("../fonts/NewMonoCourierNew-Regular.otf");
}


/*
  ========================================================================================================================
     _   _   _   _   _  
    / \ / \ / \ / \ / \ 
   ( I | n | d | e | x )
    \_/ \_/ \_/ \_/ \_/ 
    
  ========================================================================================================================
*/


/*
  ========================================
  Fixed Viewport Check
  ========================================
*/
#viewportwidth{
    font-family: "arial";
    font-size: 14px;
}

/*
  ========================================
  Body
  ========================================
*/
body {
    background-color: rgba(255,255,255,1);
    
    font: 12px/15px Atlas-Grotesk-Regular, monospace;
    color: #000;
    word-spacing: -0.05em;
    letter-spacing: 0em;
}

/*
  ========================================
  Grid
  ========================================
*/
nav {
    padding: 2%;
    margin: 0 0 2% 0;
}

nav li {
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

section {
    padding: 0;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 0.5% 0.5% 0.5% 0.5%;
}

.container {
    width: 95vw;
    height: 95vh;
    margin: 1% auto;
    z-index: 1;
    
    background-color: PaleVioletRed;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    
    -webkit-box-shadow: 0px 0px 28px 22px PaleVioletRed;
    -moz-box-shadow: 0px 0px 28px 22px PaleVioletRed;
    box-shadow: 0px 0px 28px 22px PaleVioletRed;
}

.mediumcontainer {
    width: 85vw;
    margin: 5% auto;
    padding: 3%;
    z-index: 1;
    
    background-color: Silver;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    
    -webkit-box-shadow: 0px 0px 28px 22px Silver;
    -moz-box-shadow: 0px 0px 28px 22px Silver;
    box-shadow: 0px 0px 28px 22px Silver;
}

.quartercontainer {
    display: relative;
    float: left;
    
    width: 45vw;
    margin: 10vh 2% 5vh 4%;
    padding: 2%;
    z-index: 1;
    
    background-color: Gainsboro;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    
    -webkit-box-shadow: 0px 0px 28px 22px Gainsboro;
    -moz-box-shadow: 0px 0px 28px 22px Gainsboro;
    box-shadow: 0px 0px 28px 22px Gainsboro;
}

.quarterfigure {
    display: relative;
    float: right;
    
    width: 30vw;
    margin: 20vh 6% 5vh 2%;
    z-index: 1;
    
    background-color: transparent;
}

.containerimage {
    clear: both;
    
    width: 70vw;
    margin: 0 auto;
    padding: 3%;
    
    background-color: white;
}

.containerimagesmall {
    clear: both;
    
    width: 60vw;
    margin: 0 auto;
    padding: 3%;
    
    background-color: white;
}

.containerimageheight {
    height: 100vh;
    margin: 3vh auto;
    padding: 3%;
    text-align: center;
    
    background-color: transparent;
}

.section-l {
    position: relative;
    display: inline-block;
    float: left;
    
    width: 46%;
    height: 37vh;
    margin: 5vh 2% 5vh 2%;
    
    text-align: center;
    vertical-align: middle;
    background-color: FloralWhite;
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    
    -webkit-box-shadow: 0px 0px 28px 22px FloralWhite;
    -moz-box-shadow: 0px 0px 28px 22px FloralWhite;
    box-shadow: 0px 0px 28px 22px FloralWhite;
}

.section-r {
    position: relative;
    display: inline-block;
    float: right;
    
    width: 46%;
    height: 37vh;
    margin: 5vh 2% 5vh 2%;
    
    text-align: center;
    vertical-align: middle;
    background-color: FloralWhite;
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    
    -webkit-box-shadow: 0px 0px 28px 22px FloralWhite;
    -moz-box-shadow: 0px 0px 28px 22px FloralWhite;
    box-shadow: 0px 0px 28px 22px FloralWhite;
}

.section-asy-l {
    position: relative;
    display: inline-block;
    float: left;
    
    height: 45vw;
    margin: 5vh 2% 5vh 6%;
}

.section-asy-r {
    position: relative;
    display: inline-block;
    float: right;
    
    width: 43%;
    margin: 200px 4% 10vh 2%;
    padding: 3%;
    
    background-color: linen;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    
    -webkit-box-shadow: 0px 0px 28px 22px linen;
    -moz-box-shadow: 0px 0px 28px 22px linen;
    box-shadow: 0px 0px 28px 22px linen;
}

.gaps-l {
    position: relative;
    display: inline-block;
    clear: both;
    
    height: 500px;
}

_::-webkit-full-page-media, _:future, :root .saf-gra-container { box-shadow: 0px 0px 24px 25px PaleVioletRed; }
_::-webkit-full-page-media, _:future, :root .saf-gra-minicontainer { box-shadow: 0px 0px 24px 25px linen; }
_::-webkit-full-page-media, _:future, :root .saf-gra-medcontainer { box-shadow: 0px 0px 24px 25px Silver; }
_::-webkit-full-page-media, _:future, :root .saf-gra-medcontainer-v { box-shadow: 0px 0px 24px 25px Gainsboro; }


/*
  ========================================
  Typography General
  ========================================
*/
nav {
    font: 4.9vw/6.2vw GT-America, sans-serif;
    letter-spacing: -0.05em;
    word-spacing: -0.01em;
}

br {
    line-height: 3vh;
}

/*
  ========================================
  Links
  ========================================
*/
a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

nav li a{
    color: #000;
    text-decoration: none;
    background: white;
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/*
  ========================================
  Temporary logo
  ========================================
*/
.templogogroup{
    display: inline-block;
    position: absolute;
    min-width: 12%;
    top: 0.5%;
    left: 0.2%;
    opacity: 0.8;
}

/*
  ========================================
  Images & captions
  ========================================
*/
img{
    width: auto;
    height: 100%;
    vertical-align: middle;
    
    image-rendering: auto;
}

img.fitdiv{
    width: 100%;
    margin: 0 auto;
}

img.multiply{
    mix-blend-mode: multiply;
}

.caption {
    font: 1.05em/1.27em Courier New, monospace;
    letter-spacing: 0;
    
    display: none;
    position: absolute;
    min-height: 34px;
    z-index: 10;
    
    background-color: rgba(240, 239, 239, 1);
    border: 1px solid black;
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.cap-car {
    max-width: 3.8%;
    margin-left: 0.55%;
    margin-top: 0.13%;
    padding: 0.05% 0.05% 0.045% 0.05%;
}

.v-cap-car {
    max-width: 2.28%;
    margin-left: 0.35%;
    margin-top: 0.13%;
    padding: 0.05% 0.05% 0.045% 0.05%;
}

.cap-reg-l {
    left: 6%;
    top: 4%;
    margin-right: 6%;
    padding: 2.5% 2% 2% 3%;
}

.cap-reg-r {
    left: 11%;
    top: 70px;
    margin-right: 11%;
    padding: 2% 1.5% 1.5% 1.5%;
}

.cap-quarterfigure {
    max-width: 100%;
    margin-left: 1%;
    margin-top: 1.5%;
    margin-right: 7.5%;
    padding: 0.75% 0.75% 0.60% 0.75%;
}

.cap-centered {
    text-align: left;
    max-width: 80%;
    margin: 1% 25% 0 2%;
    padding: 0.75% 0.75% 0.60% 0.75%;
}

.confirmation {
    font: 1.05em/1.27em Courier New, monospace;
    letter-spacing: 0;
    
    display: none;
    float: left;
    
    height: 34px;
    padding: 3.3% 3% 2.8% 3%;
    
    background-color: rgba(240, 239, 239, 1);
    border: 1px solid black;
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

    
/*
  ======================================================================================================================== 
   _   _   _   _   _   _   _   _     _   _   _   _   _  
  / \ / \ / \ / \ / \ / \ / \ / \   / \ / \ / \ / \ / \ 
 ( I | n | t | e | r | i | o | r ) ( P | a | g | e | s )
  \_/ \_/ \_/ \_/ \_/ \_/ \_/ \_/   \_/ \_/ \_/ \_/ \_/ 
    
  ========================================================================================================================
*/

/*
  ========================================
  Grid
  ========================================
*/
.content-pages-wrapper {
    width: 100vw;
    min-height: 100vh;
    padding: 0.5% 0.5% 0 0.5%;
    margin: 0 0 0 0;
}

.middletext {    
    clear: both;
    
    width: 70vw;
    margin: 0 auto;
    padding: 3%;
    
    background-color: none;
    
}

.scheduleentry {
    clear: both;
    display: block;
    
    width: inherit;
    margin: 0 auto;
    padding: 1%1%;
    
    border-top: 1px solid #000000;
    background-color: none;
}

.scheduleexpand {
    display: none;
    clear: both;
    
    width: inherit;
    margin: 0 auto;
    padding: 0;
    
    background-color: none;
}

.scheduleexpand li{
    margin-left: 15px;
    list-style-type: circle;
}

nav.menu {
    position: fixed;
    display: inline-block;
    float: right;
    
    width: 359px;
    height: 34px;
    top: 3%;
    right: 2vw;
    padding: 9px 8px 8px 9px;
    z-index: 100;
    
    background-color: rgb(250, 244, 234);
    border: 1px solid black;
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

/*
  ========================================
  Typography
  ========================================
*/
ol li{
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 7%;
}

ul {
    list-style-position: outside;
}

li{
    list-style-type: circle;
}

li.opened{
    list-style-type: disc;
}

.titles {
    font: 1.1em/1.27em Times, serif;
    word-spacing: 0;
    letter-spacing: 0.01em;
    text-transform: none;
}

.subtitles {
    font: 0.75em/1.27em Times, serif;
    word-spacing: 0;
    letter-spacing: 0.01em;
    text-transform: none;
    margin-left: 1.8em;
}

.middletext {
    font: 1.75em/1.27em Courier New, monospace;
    letter-spacing: 0;
    word-spacing: -0.1em;
}

.scheduleentry {
    font: 1.05em/1.27em Courier New, monospace;
    letter-spacing: 0;
    word-spacing: -0.1em;
}

.scheduleexpand {
    font: 1.05em/1.27em Courier New, monospace;
    letter-spacing: 0;
    word-spacing: -0.1em;
    cursor: auto;
}

nav.menu {
    font: 1.05em/1.27em Courier New, monospace;
    letter-spacing: 0;
    text-align: center;
}

.italics {
    font-style: italic;
}

.mandarin {
    font: 0.85em/1.27em 华文细黑, simsun, sans-serif;
    font-weight: 100;
    letter-spacing: 0.15em;
    word-spacing: -0.1em;
}

/*
  ========================================
  Links
  ========================================
*/
nav.menu a:hover {
    font-style: italic;
}

/*
  ========================================
  Images
  ========================================
*/
.pdficon {
    width: 60px;
    margin-left: 3%;
}
.pdficontext {
    font: 0.6em/1.27em Times, serif;
    word-spacing: 0;
    letter-spacing: 0.02em;
    margin-left: 1%;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
}
    
/*
  ======================================================================================================================== 
   _   _   _   _   _     _   _   _   _   _   _   _     _   _   _   _   _  
  / \ / \ / \ / \ / \   / \ / \ / \ / \ / \ / \ / \   / \ / \ / \ / \ / \ 
 ( M | e | d | i | a ) ( Q | u | e | r | i | e | s ) ( I | n | d | e | x )
  \_/ \_/ \_/ \_/ \_/   \_/ \_/ \_/ \_/ \_/ \_/ \_/   \_/ \_/ \_/ \_/ \_/ 

  ========================================================================================================================
*/


/*
  ========================================
  Media Queries Phones
  ========================================
*/

@media (max-width: 550px) {
    
    /*Grid**************/
    nav {
        margin-top: 40px;
    }
    
    nav li {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .section-l,
    .section-r {
        height: 30vh;
    }
    
    .container {
        display: inline-block;
        
        text-align: center;
        
        width: 95%;
        height: auto;
        margin: 1% auto 0 auto;
        padding: 10% 10% 0 10%;
        z-index: 1;

        background-color: PaleVioletRed;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;

        -webkit-box-shadow: 0px 0px 28px 22px PaleVioletRed;
        -moz-box-shadow: 0px 0px 28px 22px PaleVioletRed;
        box-shadow: 0px 0px 28px 22px PaleVioletRed;
    }
    
    .section-l {
        position: relative;
        display: inline-block;
        float: left;

        width: 100%;
        height: auto;
        padding: 0;
        margin: 2% auto 15% auto;

        text-align: center;
        background-color: FloralWhite;

        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;

        -webkit-box-shadow: 0px 0px 28px 22px FloralWhite;
        -moz-box-shadow: 0px 0px 28px 22px FloralWhite;
        box-shadow: 0px 0px 28px 22px FloralWhite;
    }

    .section-r {
        position: relative;
        display: inline-block;
        float: left;

        width: 100%;
        height: auto;
        padding: 0;
        margin: 2% auto 15% auto;

        text-align: center;
        background-color: FloralWhite;

        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;

        -webkit-box-shadow: 0px 0px 28px 22px FloralWhite;
        -moz-box-shadow: 0px 0px 28px 22px FloralWhite;
        box-shadow: 0px 0px 28px 22px FloralWhite;
    }
    
    .mediumcontainer {
        background-color: Silver;
        margin: 30px 0 20px 0;
        width: 95vw;
        
        background-color: Silver;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    
        -webkit-box-shadow: 0px 0px 28px 22px Silver;
        -moz-box-shadow: 0px 0px 28px 22px Silver;
        box-shadow: 0px 0px 28px 22px Silver;
    }

    .quartercontainer {
        display: relative;
        float: left;

        width: 100vw;
        margin: 10vh 0 5vh 0;
        padding: 0 10% 0 10%;
        z-index: 1;

        background-color: Gainsboro;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;

        -webkit-box-shadow: 0px 0px 28px 22px Gainsboro;
        -moz-box-shadow: 0px 0px 28px 22px Gainsboro;
        box-shadow: 0px 0px 28px 22px Gainsboro;
    }

    .quarterfigure {
        display: relative;
        float: none;
        clear: both;

        width: 100vw;
        margin: 20% auto 5vh auto;
        padding: 5% 5% 5% 5%;
        z-index: 1;

        background-color: transparent;
    }
    
    .containerimage {
        clear: both;

        width: 98vw;
        margin: 30px auto;

        background-color: white;
    }

    .containerimagesmall {
        clear: both;

        width: 90vw;
        margin: 0 auto;

        background-color: white;
    }

    .containerimageheight {
        clear: both;
        
        width: 100%;
        height: auto;
        margin: 3vh auto;
        padding: 3%;
        
        text-align: center;

        background-color: transparent;
    }

    .section-asy-l {
        position: relative;
        display: inline-block;
        clear: both;

        width: 100%;
        height: auto;
        margin: 3vh auto;
        padding: 5%;
    }

    .section-asy-r {
        position: relative;
        display: inline-block;
        clear: both;

        width: 100%;
        margin: 0 auto 7vh auto;
        padding: 7%;

        background-color: linen;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;

        -webkit-box-shadow: 0px 0px 18px 12px Linen;
        -moz-box-shadow: 0px 0px 18px 12px Linen;
        box-shadow: 0px 0px 18px 12px Linen;
    }
    
    .gaps-l {
        position: relative;
        display: inline-block;
        clear: both;

        height: 200px;
    }
    
    
    /*Font**************/
    nav {
        font: 1.4em/1.5em GT-America, sans-serif;
        letter-spacing: -0.005em;
        word-spacing: -0.04em;
    }
    
    /*Images and captions**************/
    img{
        width: 100%;
        vertical-align: middle;
        image-rendering: none;
    }
    
}

/*
  ===Phone ?============================================================================================================== 
  ========================================================================================================================
*/

@media (max-width: 550px) {
    /*Grid***********************/
    .section-asy-l {
        position: relative;
        display: inline-block;
        clear: both;

        width: 100%;
        height: auto;
        margin: 0 auto 0 auto;
        padding: 0;
        
        border: 0 solid #000000;
    }

    .section-asy-r {
        position: relative;
        display: inline-block;
        clear: both;

        width: 100%;
        margin: 0 auto 4vh auto;
        padding: 7%;

        background-color: linen;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;

        -webkit-box-shadow: 0px 0px 18px 12px Linen;
        -moz-box-shadow: 0px 0px 18px 12px Linen;
        box-shadow: 0px 0px 18px 12px Linen;
    }
    
    .content-pages-wrapper {
        width: 100vw;
        min-height: 100vh;
        padding: 0.5% 0.5% 0 0.5%;
        margin: 0 0 0 0;
    }

    .middletext {    
        clear: both;

        width: 90vw;
        margin: 0 auto;
        padding: 3%;

        background-color: none;
    }

    .scheduleentry {
        clear: both;
        display: block;

        width: inherit;
        margin: 0 auto;
        padding: 4% 1% 3.5% 4%;

        border-top: 1px solid #000000;
        background-color: none;
    }

    .scheduleexpand {
        display: none;
        clear: both;

        width: inherit;
        margin: 0 auto;
        padding: 0;

        background-color: none;
    }

    .scheduleexpand li{
        list-style-type: circle;
    }

    nav.menu {
        position: relative;
        display: block;
        float: none;

        width: 90%;
        height: 34px;
        margin: 3% auto;
        
        top: 0;
        right: 0;
        padding: 9px 8px 8px 9px;
        z-index: 100;

        background-color: rgb(250, 244, 234);
        border: 1px solid black;

        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }

    /*Typography***********************/
    li{
        list-style-type: circle;
    }

    li.opened{
        list-style-type: disc;
    }

    .titles {
        font: 1.2em/1.27em Times, serif;
        word-spacing: 0;
        letter-spacing: 0.01em;
        text-transform: none;
    }

    .subtitles {
        font: 1em/1.27em Times, serif;
        word-spacing: 0;
        letter-spacing: 0.01em;
        text-transform: none;
        margin-left: 1.45em;
    }

    .middletext {
        font: 1.1em/1.27em Courier New, monospace;
        letter-spacing: 0;
        word-spacing: -0.1em;
    }

    .scheduleentry {
        font: 1.05em/1.27em Courier New, monospace;
        letter-spacing: 0;
        word-spacing: -0.1em;
    }

    .scheduleexpand {
        font: 1.05em/1.27em Courier New, monospace;
        letter-spacing: 0;
        word-spacing: -0.1em;
        cursor: auto;
    }

    nav.menu {
        font: 1.05em/1.27em Courier New, monospace;
        letter-spacing: 0;
        text-align: center;
    }

    .italics {
        font-style: italic;
    }

    .mandarin {
        font: 0.9em/1.27em 华文细黑, simsun, sans-serif;
        font-weight: 100;
        letter-spacing: 0.15em;
        word-spacing: -0.1em;
    }
    
    nav.menu {
        font: 0.96em/1.27em Courier New, monospace;
    }
    
    /*Temp logo**************/
    .templogogroup{
        display: none;
    }

    /*Links***********************/
    nav.menu a:hover {
        font-style: italic;
    }
    

    /*Images***********************/
    .pdficon {
        width: 60px;
        margin-left: 3%;
    }
    .pdficontext {
        font: 0.6em/1.27em Times, serif;
        word-spacing: 0;
        letter-spacing: 0.02em;
        margin-left: 1%;
    }

    hr {
        border: 0;
        height: 1px;
        background: #333;
    }
}

@media all and (min-width: 551px) and (max-width: 900px) {
    nav.menu {
        position: relative;
        display: block;
        float: none;

        height: 34px;
        margin: 3% auto;
        
        top: 0;
        right: 0;
        padding: 9px 8px 8px 9px;
        z-index: 100;

        background-color: rgb(250, 244, 234);
        border: 1px solid black;

        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }
    
    /*Logo***********************/
    .templogogroup{
        position: absolute;
        width: 25%;    
    }
    
}

@media all and (min-width: 551px) and (max-width: 959px) {
    .middletext {    
        clear: both;

        width: 90vw;
        margin: 0 auto;
        padding: 3%;

        background-color: none;
    }
    
    /*Typography***********************/
    li{
        list-style-type: circle;
    }

    li.opened{
        list-style-type: disc;
    }

    .titles {
        font: 1.2em/1.27em Times, serif;
        word-spacing: 0;
        letter-spacing: 0.01em;
        text-transform: none;
    }

    .subtitles {
        font: 0.9em/1.27em Times, serif;
        word-spacing: 0;
        letter-spacing: 0.01em;
        text-transform: none;
        margin-left: 1.49em;
    }

    .middletext {
        font: 1.3em/1.27em Courier New, monospace;
        letter-spacing: 0;
        word-spacing: -0.1em;
    }

    .scheduleentry {
        font: 1.05em/1.27em Courier New, monospace;
        letter-spacing: 0;
        word-spacing: -0.1em;
        padding: 2% 0.5% 1.5% 2%;
    }

    .scheduleexpand {
        font: 1.05em/1.27em Courier New, monospace;
        letter-spacing: 0;
        word-spacing: -0.1em;
        cursor: auto;
    }

    nav.menu {
        font: 1.05em/1.27em Courier New, monospace;
        letter-spacing: 0;
        text-align: center;
    }

    .italics {
        font-style: italic;
    }

    .mandarin {
        font: 0.9em/1.27em 华文细黑, simsun, sans-serif;
        font-weight: 100;
        letter-spacing: 0.15em;
        word-spacing: -0.1em;
    }
    
    /*Logo***********************/
    .templogogroup{
        position: absolute;
        width: 15%;    
    }
}

@media all and (min-width: 960px) and (max-width: 1099px){
    .section-asy-r img {
        width: 100%;
    }
    
    .scheduleentry {
        padding: 1.75% 0.5% 1.5% 2%;
    }
    
    .titles {
        font: 1.2em/1.27em Times, serif;
        word-spacing: 0;
        letter-spacing: 0.01em;
        text-transform: none;
    }

    .subtitles {
        font: 0.9em/1.27em Times, serif;
        word-spacing: 0;
        letter-spacing: 0.01em;
        text-transform: none;
        margin-left: 1.49em;
    }

    .middletext {
        font: 1.3em/1.27em Courier New, monospace;
        letter-spacing: 0;
        word-spacing: -0.1em;
    }
}